body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.retro-dark {
  background: #212529;
}

@import "../node_modules/nes.css/css/nes.css";

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.retro-font {
  font-family: "Press Start 2P", cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
